<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-HzUaiJdCTIY/RL2vDPRGdEQHHahjzwoJJzGUkYjHVzTwXFQ2QN/nVgX7tzoMW3Ov" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css" charset="utf-8">
        <title>Extreme Rock Paper Scissors Game</title>
    </head>
    <body>
        <div class="container">
            <h1>Extreme Rock Paper Scissors Game</h1>


            <form action="/" method="post">
                <div>
                  <select class="selectpicker" name="player-choice">
                    <option value="single">Single Player</option>
                    <option value="double">Two Player</option>
                    <option disabled="disabled" >----</option>
                    <option value="soloExtreme">Single Player Exxtreme</option>
                    <option value="dblExtreme">Two Player Exxtreme</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-warning">Play!</button>
            </form>
            <h2>Cheat Sheet</h2>
            <img id="guide" src="/img/guide.jpg" alt="Picture of Extreme Rock Paper Scissors Guide">
        </div>
    </body>
</html>
