input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + img {
    border: 1px solid red;
}

.container {
  width: 95%;
}


.btn {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.btn-success{
  margin-top: 2%;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  width:90%;
}

h4, h1, h2, h3, .result {
    text-align: center;
}

span {
  text-decoration: underline;
}

#box1 {
    background-color: #FFF;
    border-radius: 15px;
    margin-right: 1%;
    margin-left: 3%;
    text-align: center;
    width: 30%;
}

#box2 {
    background-color: #FFF;
    border-radius: 15px;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
    width: 30%;
}

#boxResult {
    background-color: #FFF;
    border-radius: 15px;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
    width: 30%;
}

#boxResult {
    background-color: #FFF;
    border-radius: 15px;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
    width: 30%;
}

#boxsolo {
    background-color: #FFF;
    border-radius: 15px;
    text-align: center;
    width:45%;
    margin-right: 2%;
    margin-left: 3%;
    /*margin: 0 auto;*/
}

.singleResult {
    background-color: #FFF;
    border-radius: 15px;
    text-align: center;
    width:45%;
    margin-left: 2%;
    /*margin: 0 auto;*/
}

#choice-row {
    padding: 20px;
    border-radius: 15px;
}

.whole-form {
    background-color: lightblue;
    padding: 10px;
    border-radius: 15px;
}

select {
    margin: 0 auto;
    display: block;
    font-size: 30px;
    text-align: center;
}

#guide {
    margin: 0 auto;
    display: block;
}

h1.extremeHeader {
  color: red;
  font-size: 60px;
}

h3.extremeHeader {
  color: red;
  font-size: 30px;
}

.extreme {
  font-family: 'Audiowide', cursive;
  background-color: black;
}

.extreme-form {
  background-color: red;
  border-radius: 30px;
}

.extreme .btn-danger {
  background: black;
}

.extreme .btn-success {
  background: yellow;
  color: black;
}

.extremeWin {
  color: red;
}

